<template>
  <q-page class="relative-position flex column items-stretch">
    <chat-header />
    <chat-body
      :id="identity_id"
      @loaded="onLoaded"
      ref="body"
    />
    <chat-footer
      @add-message="onAddMessage"
    />
  </q-page>
</template>

<script>
import ChatHeader from 'src/components/ChatHeader'
import ChatBody from 'src/components/ChatBody'
import ChatFooter from 'src/components/ChatFooter'
import ChatMixin from './ChatMixin'

export default {
  name: 'MessengerChat',
  components: {
    ChatHeader,
    ChatBody,
    ChatFooter
  },
  mixins: [
    ChatMixin
  ]
}
</script>
