<template>
  <q-page class="wrapper flex flex-center">
    <div class="text-center text-dark q-ma-lg">
      <img src="https://web.whatsapp.com/img/c98cc75f2aa905314d74375a975d2cf2.jpg" />
      <h6 class="q-pt-md">Keep your phone connected</h6>
      <p class="text-grey-6">
        Messenger connects to your phone to sync messages. To reduce data usage, connect your phone to Wi-Fi.
      </p>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'MessengerHome'
}
</script>

<style lang="stylus" scoped>
.wrapper
  background-color #f7f9fa
.wrapper::after
  content ''
  border-top 6px solid $grey-7
  position absolute
  bottom 0
  left 0
  width 100%
</style>
