<template>
  <div class="row justify-center items-center">
    <VideoJSAudioRecord
      @device-ready="videoJsRecordOnDeviceReady"
      @ready="onReadyVideoJsRecord"
    />
  </div>
</template>

<script>
import {
  QBtn,
  QIcon
} from 'quasar'
import VideoJSAudioRecord from './VideoJSAudioRecord'
import RecordRtcAudio from './RecordRtcAudio'
import AudioRecordMixin from './AudioRecordMixin'

export default {
  name: 'MessengerChatAudioRecord',
  components: {
    QBtn,
    QIcon,
    VideoJSAudioRecord,
    RecordRtcAudio
  },
  mixins: [
    AudioRecordMixin
  ]
}
</script>
