<template>
  <q-toolbar
    color="grey-4"
    class="messenger-chat-footer"
  >
    <div class="col row flex-end">
      <q-btn
        flat round
        icon="far fa-laugh-beam"
      />
      <q-input
        inverted
        v-model="message"
        :placeholder="$t('messenger.chat.typeMessage')"
        @keyup="onKeyupMessage"
        color="white"
        class="q-mx-sm text-dark no-shadow messenger-chat-footer-message"
      />
      <q-btn
        v-show="!showAudioRecord"
        flat round
        icon="fas fa-microphone"
        @click="onClickBtnMicrophone"
      />
      <q-btn
        v-show="!showAudioRecord"
        v-if="supportCamera()"
        flat round
        icon="fas fa-video"
        @click="onClickBtnCamera"
      />
    </div>
  </q-toolbar>
</template>

<script>
import {
  QBtn,
  QToolbar,
  QInput
} from 'quasar'
import ChatFooterMixin from './ChatFooterMixin'

export default {
  name: 'MessengerChatFooter',
  components: {
    QBtn,
    QToolbar,
    QInput
  },
  mixins: [
    ChatFooterMixin
  ]
}
</script>
