<template>
  <q-toolbar
    class="text-grey-5 messenger-chat-header"
  >
    <q-btn flat round
      @click="onClickBtnBack"
      icon="fas fa-angle-left"
      class="q-mr-xs mobile-only"
    />
    <div>
      <img
        class="messenger-image-profile"
        :src="imageProfile"
      />
    </div>
    <div class="col">
      <q-toolbar-title>
        {{ name }}
        <span slot="subtitle">
          {{ lastConnection }}
        </span>
      </q-toolbar-title>
    </div>
    <div class="col row justify-end">
      <q-btn
        flat round
        icon="fas fa-search"
      />
      <q-btn
        flat round
        icon="fas fa-paperclip"
      />
      <q-btn
        flat round
        icon="fas fa-ellipsis-v"
      />
    </div>
  </q-toolbar>
</template>

<script>
import {
  QBtn,
  QToolbar,
  QToolbarTitle
} from 'quasar'
import ChatHeaderMixin from './ChatHeaderMixin'

export default {
  name: 'MessengerChatHeader',
  components: {
    QBtn,
    QToolbar,
    QToolbarTitle
  },
  mixins: [
    ChatHeaderMixin
  ],
  props: {
    name: {
      type: String,
      required: false,
      default: ''
    },
    lastConnection: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>
