<template>
  <q-item
    class="cursor-pointer non-selectable"
    @click.native="onClickItem"
  >
    <q-item-section avatar>
      <q-img
        :src="getAvatarImage"
      />
    </q-item-section>
    <q-item-section>
      <q-item-label v-html="name" />
      <q-item-label caption
        v-html="getLastMessageContent"
        :class="typing ? 'text-green text-bold' : ''"
        lines="1"
      />
    </q-item-section>
    <q-item-section side top>
      {{ getLastMessageTime }}
    </q-item-section>
  </q-item>
</template>

<script>
import {
  QItem,
  QItemSection,
  QItemLabel,
  QImg
} from 'quasar'
import ChatItemMixin from './ChatItemMixin'

export default {
  name: 'MessengerChatItem',
  components: {
    QItem,
    QItemSection,
    QItemLabel,
    QImg
  },
  mixins: [
    ChatItemMixin
  ],
  props: {
    name: {
      type: String,
      required: true
    },
    lastMessage: {
      type: Object,
      required: false
    },
    avatar: {
      type: String,
      required: false,
      default: 'https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png'
    },
    typing: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
