<template>
  <div class="messenger-chat-body q-pa-md">
    <div
      v-for="message in messages"
      :key="message.id"
      :class="'row ' + (message.sent ? 'justify-end' : '')"
      class="relative-position"
    >
      <q-chat-message
        v-if="isMessageText(message)"
        name="me"
        :text="message.messages"
        :stamp="getFormatStamp(message.createdAt)"
        :sent="message.sent"
        class="messenger-chat-message"
      />
      <div
        v-if="message.sent"
        class="absolute-bottom-right messenger-chat-message-status"
      >
        <q-icon
          v-if="message.status === 'read'"
          name="fas fa-check-double"
          color="primary"
        />
        <q-icon
          v-if="message.status === 'received'"
          name="fas fa-check-double"
        />
        <q-icon
          v-if="message.status === 'sending'"
          name="far fa-clock"
        />
        <q-icon
          v-if="message.status === 'sent'"
          name="fas fa-check"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {
  QChatMessage,
  QIcon
} from 'quasar'
import ChatBodyMixin from './ChatBodyMixin'

export default {
  name: 'MessengerChatBody',
  components: {
    QChatMessage,
    QIcon
  },
  mixins: [
    ChatBodyMixin
  ],
  props: {
    id: {
      type: String,
      required: true
    }
  }
}
</script>
