<template>
  <q-list
    highlight
    class="no-border"
    style="width: 340px"
  >
    <chat-item
      v-for="item in getListChats"
      :key="item.id"
      :name="item.name"
      :lastMessage="item.lastMessage"
      :typing="item.typing"
      @click="onClickItem(item)"
    />
  </q-list>
</template>

<script>
import {
  QList
} from 'quasar'
import ListChatsMixin from './ListChatsMixin'
import ChatItem from './ChatItem'

export default {
  name: 'MessengerListChats',
  components: {
    QList,
    ChatItem
  },
  mixins: [
    ListChatsMixin
  ]
}
</script>
