<template>
  <transition appear
    :duration="{ enter: 500, leave: 250 }"
    name="modal"
    enter-active-class="animated slideInUp"
    leave-active-class="animated slideOutDown"
  >
    <div class="bg-grey-2 full-height full-width absolute-top wrapper justify-center items-stretch column">
      <q-toolbar
        color="grey-4"
        class="justify-center items-cente"
      >
        <q-btn flat round
          icon="fas fa-times"
          @click="onClickBtnClose"
        />
        <div class="col">
          <div class="row justify-center items-center">
            <q-btn flat round
              @click="onClickBtnPausePlay"
              :icon="!pause ? 'far fa-pause-circle' : 'fas fa-play'"
              size="xl"
            >
              <q-tooltip v-text="$t(`messenger.camera.${!pause ? 'pause' : 'play'}`)" />
            </q-btn>
          </div>
        </div>
        <q-btn flat round
          icon="fas fa-camera-retro"
          @click="onClickBtnTakePhoto"
        >
          <q-tooltip
            v-text="$t('messenger.camera.takePhoto')"
            anchor="center left"
            self="center right"
          />
        </q-btn>
      </q-toolbar>
      <video autoplay
        v-show="!showScreenShot"
        class="video"
        ref="video"
      />
      <canvas ref="canvas" class="hidden" />
      <transition appear
        enter-active-class="animated flash"
        leave-active-class="animated fadeOut"
      >
        <img
          v-show="showScreenShot"
          ref="screenshot"
          class="screenshot"
        />
      </transition>
    </div>
  </transition>
</template>

<script>
import {
  QModal,
  QModalLayout,
  QToolbar,
  QBtn,
  QTooltip
} from 'quasar'
import ModalCameraMixin from './ModalCameraMixin'

export default {
  name: 'MessengerModalCamera',
  components: {
    QModal,
    QModalLayout,
    QToolbar,
    QBtn,
    QTooltip
  },
  mixins: [
    ModalCameraMixin
  ],
  props: {
    show: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>

<style lang="stylus" scoped>
.wrapper
  background-color white
  z-index 1
  top 56px
.video, .screenshot
  flex 1 1 0
  width 90%
  margin-left 5%
</style>
