<template>
  <video ref="video" />
</template>

<script>
import RecordRtcAudioMixin from './RecordRtcAudioMixin'

export default {
  name: 'MessengerRecordRtcAudio',
  mixins: [
    RecordRtcAudioMixin
  ]
}
</script>
