<template>
  <div style="width: 340px">
    <q-toolbar
      class="text-grey-5 justify-center messenger-chat-header"
    >
      <div>
        <img
          class="messenger-image-profile"
          :src="imageProfile"
        />
      </div>
      <div class="col row justify-end">
        <q-btn flat round
          icon="fas fa-ellipsis-v"
        />
      </div>
    </q-toolbar>
    <q-toolbar class="text-grey-1">
      <q-input outlined dense
        v-model="search"
        class="bg-white text-grey-6 full-width"
      />
    </q-toolbar>
  </div>
</template>

<script>
import {
  QToolbar,
  QBtn,
  QInput
} from 'quasar'
import SidebarToolbarsMixin from './SidebarToolbarsMixin'

export default {
  name: 'MessengerSidebarToolbars',
  components: {
    QToolbar,
    QBtn,
    QInput
  },
  mixins: [
    SidebarToolbarsMixin
  ]
}
</script>
