<template>
  <aside class="sidebar flex column">
    <sidebar-toolbars />
    <list-chats class="messenger-list-chats" />
  </aside>
</template>

<script>
import SidebarToolbars from './SidebarToolbars'
import ListChats from './ListChats'
import SidebarMixin from './SidebarMixin'

export default {
  name: 'MessengerSidebar',
  components: {
    SidebarToolbars,
    ListChats
  },
  mixins: [
    SidebarMixin
  ]
}
</script>
