<template>  
  <audio
    ref="audio"
    class="video-js vjs-default-skin"
    style="background-color: #000"
  />
</template>

<script>
import VideoJSAudioRecordMixin from './VideoJSAudioRecordMixin'

export default {
  name: 'MessengerVideoJSAudioRecord',
  mixins: [
    VideoJSAudioRecordMixin
  ],
  props: {
    autoPlay: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

