.messenger-chat-message-status
  bottom 15px
  right 12px

.messenger-chat-footer-message
  flex 1 1 auto

.messenger-chat-message
  max-width 65%
  &.q-message-sent,
.messenger-chat-message
  &.q-message-received
    .q-message-stamp
      text-align right
      text-transform uppercase

.messenger-chat-message
  &.q-message-sent
    .q-message-stamp
      margin-right 30px

.messenger-image-profile
  max-width 52px

.messenger-chat-header
  height 56px
  z-index 1000
.messenger-list-chats
  flex 1 1 0
  overflow overlay
.messenger-chat-body
  flex 1 1 0
  background-color $grey-2
  z-index 1
  overflow overlay
  &::before
    content ''
    background-image url(/statics/messenger/messenger-chat-body.png)
    background-repeat repeat repeat
    position: absolute
    top 0
    height 100%
    width 100%
    opacity 0.06

.messenger-chat-footer
  z-index 1
