<template>
  <q-layout view="lHh Lpr lFf" class="wrapper">
    <sidebar />
    <q-page-container class="main">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Sidebar from 'src/components/Sidebar'

export default {
  name: 'MessengerLayout',
  components: {
    Sidebar
  }
}
</script>

<style lang="stylus" scoped>
.wrapper
  display flex
  flex-direction row
  overflow hidden
.sidebar
  width 340px
.main
  flex 1
</style>
